@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    font-family: 'Outfit', sans-serif;
}
.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
}
.main .nav img{
    width: 40px;
    border-radius: 50%;
}
.main-container {
    max-width: 900px;
    margin: auto;
}
.greet {
    margin: 20px auto; /* Center horizontally */
    max-width: 600px; /* Optional: Limit the maximum width */
    font-size: 36px;
    font-weight: 500;
    padding: 20px;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
    color: black;
}
.search-box div {
    display: flex;
    gap: 15px;
}

.search-box img {
    width: 24px;
    cursor: pointer;
}
.bottom-info {
    font-size: 15px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}
.result {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar{
    display:none;
}
.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.result img {
    width: 40px;
    border-radius: 50%;
}

.result-data p {
    text-align: right; /* Align text to the right */
    font-size: 20px; /* General setting for all .result-data paragraphs */
    font-weight: 400;
    line-height: 1.4;
}

.bot-response p {
    font-size: 20px; /* Specific setting for paragraphs in .bot-response */
    line-height: 1.4; /* Specific line height for better readability */
    font-weight: 400; /* Optional: make the font weight slightly bolder than the general setting */
}

/* For user messages */
.user-message p {
    font-size: 20px; /* Increase the font size */
    line-height: 1.4; /* Adjust line height for better readability */
}

.user-message {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align user messages to the left */
    gap: 20px;
}

.bot-response {
    display: flex;
    align-items: start;
    justify-content: flex-end; /* Align bot messages to the right */
    gap: 20px;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.animated-bg {
    border-radius: 4px;
    border: none;
    animation: loader 3s infinite linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #db9eff, #ffffff, #db9eff);
    background-size: 800px 50px;
    height: 20px;
}
@keyframes loader {
    0% {
        background-position: -800px 0
    }
    100% {
        background-position: 800px 0
    }
}

@media (max-width:600px) {
    .main-bottom input{
        flex: none;
        width: 140px;
    }
    .main-bottom img{
        width: 20px;
    }
    .search-box{
        padding: 5px 10px;
    }
    .search-box div{
        gap: 5px;
    }
}